#titulo-forms-conecte{
    padding-bottom: 1rem;

    /*config.fonte texto*/
    font-size: 60px;
}
#p-forms-conecte{
    
    /*config.fonte texto*/
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;

    /*Config. espaços*/
    padding: 2rem;

    /*config. das bordas*/
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    /* Largura responsiva */
    width: 90%; /* Ocupa 90% da largura da tela */
    max-width: 600px; /* Limita a largura máxima em telas maiores */
    margin: 0 auto; /* Centraliza o formulário horizontalmente */
}

.field {
    margin-bottom: 15px;
}

.label {
    margin-bottom: 5px;
    font-weight: bold;
}

.input, .textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;

    /* Cores com melhor contraste */
    background-color: #F2F2F2; /* Fundo mais claro */
    color: #333; /* Texto mais escuro */
}

.input::placeholder, .textarea::placeholder {
    color: #999; /* Cor de placeholder mais clara */
}

#Botton-conecte {
    /*Config. espaços*/
    padding: 0.75rem 1.5rem;

    /*config. das bordas*/
    border: none;
    border-radius: 25px;

    /*Config. fonte de texto*/
    font-size: 18px;
    font-weight: bold;

    color: #FFFFFF;
    transition: background-color 0.3s ease;
    background-color: #EA030E;
    cursor: pointer;
}

#Botton-conecte:hover {
    background-color: #C4020C;
}
