#Horario-dos-cultos {
    position: relative;
    width: 100%;
    max-width: 1720px;
    margin: auto;
    padding: 0; /* Remove padding para ajustar a imagem */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden; /* Adiciona overflow escondido para evitar barras de rolagem */
}

#Horario-dos-cultos h1 {
    font-size: 2.5em;
    color: white;
    z-index: 2;
    margin: 0; /* Remove margens para ajuste */
    padding: 20px 0; /* Espaçamento interno */
}

#Horario-dos-cultos h1 strong {
    color: #EA030E; /* Cor vermelha destacada */
}

#Horario-dos-cultos ul {
    list-style-type: none;
    padding: 0;
    z-index: 2;
    position: relative;
    margin: 0;
}

#Horario-dos-cultos li {
    margin-top: 1rem;
    font-size: 1.2em;
    color: #FFFFFF; /* Cor do texto padrão */
}

#Horario-dos-cultos li strong {
    color: #EA030E; /* Cor vermelha para os títulos */
}

.image-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Ajusta a altura para ocupar toda a visualização */
    display: flex;
    flex-direction: column; /* Certifica que os textos estejam centralizados na coluna */
    justify-content: center;
    align-items: center;
}

#Horario-dos-cultos img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz com que a imagem cubra completamente o contêiner */
    opacity: 0.5;
    z-index: 1;
}

/* Responsividade para tablets */
@media (max-width: 768px) {
    #Horario-dos-cultos h1 {
        font-size: 2em; /* Reduz o tamanho da fonte */
        padding: 15px 0; /* Ajusta o espaçamento interno */
    }

    #Horario-dos-cultos li {
        font-size: 1em; /* Reduz o tamanho da fonte */
        margin-top: 0.8rem; /* Ajusta a margem superior */
    }
}

/* Responsividade para celulares */
@media (max-width: 480px) {
    #Horario-dos-cultos h1 {
        font-size: 1.5em; /* Reduz ainda mais o tamanho da fonte */
        padding: 10px 0; /* Ajusta o espaçamento interno */
    }

    #Horario-dos-cultos li {
        font-size: 0.9em; /* Reduz ainda mais o tamanho da fonte */
        margin-top: 0.5rem; /* Ajusta a margem superior */
    }

    .image-container {
        height: 60vh; /* Reduz a altura para celulares */
    }
}
