#Ministerios {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
}

#Ministerios h1 {
    /*config. text*/
    font-size: 4.5rem;
    color: #EA030E;
    margin-bottom: 2rem;
    /* Ajuste o espaçamento inferior conforme necessário */
}

.image-container-ministerio {
    /*config. margin e posição*/
    margin: 50px auto;
    /* Espaçamento entre as imagens */
    position: relative;

    /*config. margin e posição*/
    width: 100%;
    max-width: 1250px;
    height: 465px;
    /* Altura fixa para a imagem */
    overflow: hidden;
}

.image-container-ministerio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 20px;
    width: 80%;
    z-index: 1;
}

.text-overlay h2 {
    font-size: 4.5rem;
    color: white;
    margin: 0.5rem auto;
}

.text-overlay p {
    font-size: 1.4rem;
    color: white;
    margin: 1rem auto;
}

/* Responsividade para tablets */
@media (max-width: 768px) {
    #Ministerios h1 {
        font-size: 3rem;
        /* Reduz o tamanho da fonte */
        margin-bottom: 1.5rem;
        /* Ajusta o espaçamento inferior */
    }

    .image-container-ministerio {
        height: 350px;
        /* Ajusta a altura para tablets */
    }

    .text-overlay h2 {
        font-size: 3rem;
        /* Reduz o tamanho da fonte */
    }

    .text-overlay p {
        font-size: 1.2rem;
        /* Reduz o tamanho da fonte */
    }
}

/* Responsividade para celulares */
@media (max-width: 480px) {
    #Ministerios h1 {
        font-size: 2rem;
        /* Reduz ainda mais o tamanho da fonte */
        margin-bottom: 1rem;
        /* Ajusta o espaçamento inferior */
    }

    .image-container-ministerio {
        height: 250px;
        /* Ajusta a altura para celulares */
    }

    .text-overlay {
        width: 90%;
        /* Aumenta a largura da sobreposição de texto */
        padding: 10px;
        /* Ajusta o padding */
    }

    .text-overlay h2 {
        font-size: 2rem;
        /* Reduz ainda mais o tamanho da fonte */
    }

    .text-overlay p {
        font-size: 1rem;
        /* Reduz ainda mais o tamanho da fonte */
    }
}